body {
  margin: 0;
  height: 100vh;
  background: #F8EFE5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

.container {
  perspective: 1000px;
  display: flex;
  align-items: center;
  gap: 40px;
}


.card {
  width: 360px;
  height: 460px;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s;
  box-shadow: 0px 0px 43px 0px #5d768b2b;
  border-radius: 15px;
  margin: 0px 20px 0px 20px;
}

.card.flip {
  transform: rotateY(180deg);
}


.side {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f8f6f3;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}


.back {
  transform: rotateY(180deg);
}


.content {
  width: 100%;
  max-width: 280px;
  text-align: left;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #5D768B;
  font-weight: bold;
  margin-bottom: 20px;
}

.icon {
  background: #5D768B;
  color: white;
  padding: 8px;
  border-radius: 10px;
  font-size: 16px;
}


h2 {
  margin: 10px 0;
  color: #2d2d2d;
}

.subtitle {
  color: #8a8a8a;
  font-size: 14px;
  margin-bottom: 20px;
}

input {
  width: 90%;
  margin: auto;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}


.row {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #6c8f86;
}


button {
  width: 100%;
  padding: 12px;
  background: #5D768B;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  color: #5D768B;
  background: #c6cfd7;
}
/* 5D768B
6f9c8f */

.switch {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}

.switch span {
  color: #5D768B;
  cursor: pointer;
  font-weight: bold;
}


.image-box {
  width: 460px;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;

}

@media (min-width : 820px) {
  .image-box {
    display: block;
  }
}
